.grass-separator {
    width: 100%;
    position: relative;
}

.donate-wrapper {
    padding: 50px 100px 120px 100px;
    background-color: #1C6758;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.donate-group {
    grid-column: 1;
    grid-row: 1;
}

.donate-wrapper > p, h3 {
    grid-column: 2;
    grid-row: 1;
    max-height: 75vh;
}

.donate {
    background-color: #1C6758;
    position: relative;
    z-index: 11;
    top: -300px;
    color: #EEF2E6;
    margin: 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.cards > img {
    height: 30px;
}

@media only screen and (max-width: 1120px) {
   .donate-wrapper {
        display: grid;
        grid-template-columns: 1fr;
   }

   .donate-wrapper > *{
        margin-top: 1em;
   }
}

@media only screen and (max-width: 600px) {
    .donate-wrapper {
        padding: 0;
    }
 }

