.hero > #tiger {
    z-index: -1;
    top: 0px;
    left: 0px;
     /* The image used */
    background-image: url("./../../tiger.svg");

    min-height: 700px;
    /* Set a specific height */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    /* Create the parallax scrolling effect */
}

.hero > .btn-wrapper {
    padding: 15px 15px 8px 70px;
    position: fixed;
    top: 35%;
    left: 0;
    color: white;
    backdrop-filter: blur(8px);
    z-index: 9;
}

.btn-wrapper > div:hover {
    scale: 1.05;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .hero {
        display: none;
    }
 }