@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Yeseva+One&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #1C6758aa;
  align-items: center;
  z-index: 200;
}

.navbar {
  display: flex;
}

.navbar div {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  padding: 10px 15px;
  font-weight: 500;
  color: #F1F2F3;
}

.navbar > div:hover {
  border-style: inset;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: #FF9900;
}

body {
  font-family: 'Poppins', sans-serif;
  font: "Josefin Sans";
  background-color: #1C6758;
}

body h3, h1 {
  font-family: 'Yeseva One', cursive;
}